#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width:65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;

}

.worksTitle{
    margin: 0 1rem;
    font-size: 3rem;
}
 
.worksDesc{
    font-weight: 300;
    font-size:1rem;
    max-width: 60rem;

}

.worksImgs{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}

.worksImg{
object-fit: cover;
height: 12rem;
margin: 0.5rem;
border-radius: 0.7rem;
}

.worksBtn{
    background:white;
    border: none;
    border-radius: 2rem;
    padding:0.5rem 2.5rem;
    font-size: 1rem;
    margin:3rem 0;
}

@media screen and (max-width:585px) {
    .worksImg{
        height: 50vw;

    }
}